.container2{
  width: 100%;
}
.h2-sub{
  margin: 20px 0 0 0;
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 28px auto 20px auto;
}
.h2-sub::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: #000;

}
.container2 > div.row:nth-child(1){
  margin: 0 auto;
}
div.row{
  display:flex;
  border-radius:100px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
  margin: 20px auto;
  width: 90%;
  height: 42px;
  font-size: 12px;
}
div.main{
  width: 80%;
  border-radius:100px;
  background-color: #FA5456;
  text-align:center;
  overflow:hidden;
  padding: 10px;
  color: white;
}
div.side{
  padding: 3%;
  width: 100%;
}
div.table{
  width:80%;
  margin: 0 auto;
}
div.row1{
  width:100%;
  border-bottom:1px solid rgba(0,0,0,0.3);
  padding:0;
  display:flex;
  font-size: 12px;
}
.cloumn{
  text-align:left;
}
.right{
  width: 60%;
  border-right:1px solid rgba(0,0,0,0.3);
  align-self: center;
  margin: 5px 0;
}
.left{
  width: 40%;
  padding: 14px;
  align-self: center;
}
.textcenter{
  text-align: center;
}
.center{
  width: 90%;
  margin: 0 auto;
}
.rowsidefix{
  font-size: 10px !important;
  padding: 2% !important;
}
